nav {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
}

main {
  width: 550px;
  padding: 36px;
  margin: auto;
}

.App {
  /* text-align: center; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo-img {
  width: 31px;
  height: 26px;
}

.logo-text {
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
}

.nav-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
}

.form-input {
  width: 230px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0d0d0d;
  padding: 11px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-family: "Karla";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.meme-image-container {
  margin-top: 36px;
  width: 100%;
  position: relative;
}

.meme-image {
  width: 100%;
}

.meme-text {
  position: absolute;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}

.top,
.bottom {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
  margin: 0;
}

.top {
  top: 20px;
  left: 20px;
}

.bottom {
  bottom: 20px;
  right: 20px;
}
